logs
project/project
project/target
target
resources/es-data
tmp
.history
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
data
conf/custom-application.conf
conf/generated.keystore
conf/host.cert
conf/host.key
.DS_Store
